@import '../../../scss/variables';

.product-card {
  border: 1px solid $border-color;
  text-align: center;
  background: #fff;
  .sale {
    font-size: 1.4rem;
    padding: 10px;
    background: $light-bg;
    .amount {
      color: $secondary;
    }
  }

  .img-container {
    width: 100%;
    height: 250px;
    background: #fff;
    display:flex;
    align-items: center;
    justify-content: center; 
  }

  .price-group {
    padding: 10px;

    .before {
      font-size: 1.2rem;
      margin: 15px;
      color: $text-light;
      text-decoration: line-through;
    }

    .current {
      font-size: 1.5rem;
      color: $primary;
    }
  }

  .add {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 25px;

    .dropdown-container {
      width: 200% ;
      margin-right: 15px ;
    }

    button#dropdown-basic {
      text-align: initial ;
      border: 1px solid #ced4da;
    }

  }

  .desc {
    padding: 10px;
  }

  .last-update {
    background: $light-bg;
    margin: 0 25px;
    padding: 15px;
  }


}
