.shape-button {
  
  display: inline-block;

  .shape {
    height: 13px;
    margin-left: 4px;
  }

  .shape-container {
    width: 10px;
    display: inline-block;
  }

  .btn-shape {
    width: calc(100% - 10px);
  }
}
