.w-73 {
  width: 73% !important;
}
.align-self-center {
  align-self: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-items-center {
  align-items: center;
}

// sm=lg

.mgl--15 {
  margin-left: -15px;
}

.mgr--15 {
  margin-right: -15px;
}

.mgr--30 {
  margin-right: -30px;
}

.flex-center {
  display: flex;
  align-self: center;
  justify-content: center;
}

.section-margin {
  margin-top: 4rem ;
}

.row-margin {
  margin-bottom: 2.5rem;
}