// custom colors 
// this overrides default bootstrap theme colors
$blue:    #0056a8 !default;
$red:     #f62434 !default;





// color variables

$primary: $blue !default;
$secondary: $red !default;
$text-dark:#303637;
$text-light:#4a5056;
$border-color:#ced4da;
$light-bg:#f6f8f9;




// navbar colors 
